In [304]:
import pandas as pd
import requests
import json
import os

# Define your API key and base URL
#api_key = 'gJK3pAifqyVdjbMMoDy6bWQyyIHoBxFE'
ticker = 'TSCO'  # Example ticker symbol (Apple Inc.)
data_folder = './financial_data/'

# List of haram industries
haram_keywords = [
    'alcohol',
    'pork',
    'gambling',
    'tobacco',
    'weapons',
    'defense',
    'adult entertainment',
    'conventional banking',
    'insurance',
    'non-halal food',
    'entertainment',
    'media',
    'biotechnology',
]

In [305]:
def fetch_data_from_api(url):
    response = requests.get(url)
    if response.status_code == 200:
        return response.json()
    else:
        print(f"Failed to fetch data. Status code: {response.status_code}")
        return None

In [306]:
def fetch_and_save_data(url, filename):
    data = fetch_data_from_api(url)
    if data:
        with open(filename, 'w') as f:
            json.dump(data, f)
        return data
    else:
        return None

In [307]:
def load_data(filename):
    if os.path.exists(filename):
        with open(filename, 'r') as f:
            return json.load(f)
    else:
        return None

In [308]:
def fetch_income_statement(ticker, api_key):
    url = f'https://financialmodelingprep.com/api/v3/financials/income-statement/{ticker}?apikey={api_key}'
    filename = f'{data_folder}{ticker}_income_statement.json'
    income_statement_data = load_data(filename)
    
    if not income_statement_data:
        income_statement_data = fetch_and_save_data(url, filename)
    
    return income_statement_data['financials'] if income_statement_data else None

In [309]:
def fetch_balance_sheet(ticker, api_key):
    url = f'https://financialmodelingprep.com/api/v3/financials/balance-sheet-statement/{ticker}?apikey={api_key}'
    filename = f'{data_folder}{ticker}_balance_sheet.json'
    balance_sheet_data = load_data(filename)
    
    if not balance_sheet_data:
        balance_sheet_data = fetch_and_save_data(url, filename)
    
    return balance_sheet_data['financials'] if balance_sheet_data else None

In [310]:
def fetch_cash_flow_statement(ticker, api_key):
    url = f'https://financialmodelingprep.com/api/v3/financials/cash-flow-statement/{ticker}?apikey={api_key}'
    filename = f'{data_folder}{ticker}_cash_flow_statement.json'
    cash_flow_statement_data = load_data(filename)
    
    if not cash_flow_statement_data:
        cash_flow_statement_data = fetch_and_save_data(url, filename)
    
    return cash_flow_statement_data['financials'] if cash_flow_statement_data else None

In [311]:
def fetch_company_profile(ticker, api_key):
    url = f'https://financialmodelingprep.com/api/v3/company/profile/{ticker}?apikey={api_key}'
    filename = f'{data_folder}{ticker}_company_profile.json'
    company_profile_data = load_data(filename)
    
    if not company_profile_data:
        company_profile_data = fetch_and_save_data(url, filename)
    
    return company_profile_data['profile'] if company_profile_data else None

In [312]:
def is_industry_haram(industry, haram_keywords):
    industry_lower = industry.lower()
    for keyword in haram_keywords:
        if keyword in industry_lower:
            return True
    return False

In [313]:
def is_income_halal(income_statement):
    if income_statement:
        # Example: Check profit margin
        profit_margin = float(income_statement[0]['Profit Margin'])
        if profit_margin > 0.25:  # Example threshold, adjust as per AAOIFI guidelines
            return True
        else:
            return False
    else:
        return False

In [314]:
income_statement_data = fetch_income_statement(ticker, api_key)
income_statement_data = income_statement_data[0]
if income_statement_data:
    print("Income Statement:")
    df_income_statement = pd.DataFrame([income_statement_data]).transpose()
    df_income_statement.columns = [df_income_statement.loc['date'][0]]
    df_income_statement = df_income_statement.drop('date')
    display(df_income_statement)

Income Statement:

                                    2023-12-30
Revenue                            14555741000
Revenue Growth
Cost of Revenue                     9327522000
Gross Profit                        5228219000
R&D Expenses                                 0
SG&A Expense                        3356258000
Operating Expenses                  3749307000
Operating Income                    1478912000
Interest Expense                      46510000
Earnings before Tax                 1432402000
Income Tax Expense                   325176000
Net Income - Non-Controlling int
Net Income - Discontinued ops
Net Income                          1107226000
Preferred Dividends
Net Income Com                      1107226000
EPS                                      10.15
EPS Diluted                              10.09
Weighted Average Shs Out             109096000
Weighted Average Shs Out (Dil)       109746000
Dividend per Share
Gross Margin                      0.3591860421
EBITDA Margin                     0.1286063691
EBIT Margin
Profit Margin                     0.1016033467
Free Cash Flow margin
EBITDA                              1871961000
EBIT                                1478912000
Consolidated Income
Earnings Before Tax Margin        0.0984080439
Net Profit Margin                 0.0760679927

In [315]:
balance_sheet_data = fetch_balance_sheet(ticker, api_key)
balance_sheet_data = balance_sheet_data[0]
if balance_sheet_data:
    print("Balance Sheet:")
    df_balance_sheet = pd.DataFrame([balance_sheet_data]).transpose()
    df_balance_sheet.columns = [df_balance_sheet.loc['date'][0]]
    df_balance_sheet = df_balance_sheet.drop('date')
    display(df_balance_sheet)

Balance Sheet:

                                 2023-12-30
Cash and cash equivalents         397071000
Short-term investments                    0
Cash and short-term investments   397071000
Receivables                         2461000
Inventories                      2645854000
Total current assets             3263939000
Property, Plant & Equipment Net  5579155000
Goodwill and Intangible Assets    269520000
Long-term investments              25200000
Tax assets                                0
Total non-current assets         5924212000
Total assets                     9188151000
Payables                         1179803000
Short-term debt                   372772000
Total current liabilities        2177082000
Long-term debt                   1728964000
Total debt                       5035982000
Deferred revenue                 2934246000
Tax Liabilities                    60032000
Deposit Liabilities
Total non-current liabilities    4861307000
Total liabilities                7038389000
Other comprehensive income          6793000
Retained earnings (deficit)      6281959000
Total shareholders equity        2149762000
Investments                        25200000
Net Debt                         4638911000
Other Assets                      218553000
Other Liabilities                 624507000

In [316]:
cash_flow_statement_data = fetch_cash_flow_statement(ticker, api_key)
cash_flow_statement_data = cash_flow_statement_data[0]
if cash_flow_statement_data:
    print("Cash Flow Statement:")
    df_cash_flow_statement = pd.DataFrame([cash_flow_statement_data]).transpose()
    df_cash_flow_statement.columns = [df_cash_flow_statement.loc['date'][0]]
    df_cash_flow_statement = df_cash_flow_statement.drop('date')
    display(df_balance_sheet)

Cash Flow Statement:

                                 2023-12-30
Cash and cash equivalents         397071000
Short-term investments                    0
Cash and short-term investments   397071000
Receivables                         2461000
Inventories                      2645854000
Total current assets             3263939000
Property, Plant & Equipment Net  5579155000
Goodwill and Intangible Assets    269520000
Long-term investments              25200000
Tax assets                                0
Total non-current assets         5924212000
Total assets                     9188151000
Payables                         1179803000
Short-term debt                   372772000
Total current liabilities        2177082000
Long-term debt                   1728964000
Total debt                       5035982000
Deferred revenue                 2934246000
Tax Liabilities                    60032000
Deposit Liabilities
Total non-current liabilities    4861307000
Total liabilities                7038389000
Other comprehensive income          6793000
Retained earnings (deficit)      6281959000
Total shareholders equity        2149762000
Investments                        25200000
Net Debt                         4638911000
Other Assets                      218553000
Other Liabilities                 624507000

In [320]:
company_profile_data = fetch_company_profile(ticker, api_key)
if company_profile_data:
    print("Company Profile:")
    df_company_profile = pd.DataFrame([company_profile_data]).transpose()
    df_company_profile.columns = [df_company_profile.loc['companyName'][0]]
    display(df_company_profile)
    pd.set_option('display.max_colwidth', None)
    display(df_company_profile.loc['description'])

Company Profile:

                                              Tractor Supply Company
price                                                         271.07
beta                                                           0.806
volAvg                                                       1145724
mktCap                                                   29224056700
lastDiv                                                          4.4
range                                                   185.0-290.38
changes                                                         8.25
changesPercentage                                 3.0434943003652197
companyName                                   Tractor Supply Company
exchange                                        NASDAQ Global Select
exchangeShortName                                             NASDAQ
industry                                            Specialty Retail
website                                https://www.tractorsupply.com
description        Tractor Supply Company operates as a rural lif...
ceo                                          Mr. Harry A. Lawton III
sector                                             Consumer Cyclical
country                                                           US
fullTimeEmployees                                              50000
phone                                                   615 440 4000
address                                            5401 Virginia Way
city                                                       Brentwood
state                                                             TN
zip                                                            37027
ipoDate                                                   1994-02-17
currency                                                         USD
isin                                                    US8923561067
cusip                                                      892356106
cik                                                       0000916365
image              https://financialmodelingprep.com/image-stock/...
defaultImage                                                   False
isEtf                                                          False
isActivelyTrading                                               True
isFund                                                         False
isAdr                                                          False

Tractor Supply Company    Tractor Supply Company operates as a rural lifestyle retailer in the United States. The company offers a selection of merchandise, including equine, livestock, pet, and small animal products necessary for their health, care, growth, and containment; hardware, truck, towing, and tool products; seasonal products, such as heating products, lawn and garden items, power equipment, gifts, and toys; work/recreational clothing and footwear; and maintenance products for agricultural and rural use. It provides its products under the 4health, Producer's Pride, American Farmworks, Red Shed, Bit & Bridle, Redstone, Blue Mountain, Retriever, C.E. Schmidt, Ridgecut, Countyline, Royal Wing, Dumor, Strive, Groundwork, Traveller, Huskee, Treeline, JobSmart, TSC Tractor Supply Co, Paws & Claws, and Untamed brands. As of June 25, 2022, it operated 2,016 Tractor Supply stores in 49 states; and 178 Petsense stores in 23 states. The company operates its retail stores under the Tractor Supply Company, Del's Feed & Farm Supply, and Petsense names; and operates websites under the TractorSupply.com and Petsense.com names. It sells its products to recreational farmers, ranchers, and others. The company was founded in 1938 and is based in Brentwood, Tennessee.
Name: description, dtype: object

In [318]:
company_profile = fetch_company_profile(ticker, api_key)

if company_profile:
    industry = company_profile.get('industry', '')
    if is_industry_haram(industry, haram_keywords):
        print(f"The industry '{industry}' is haram.")
    else:
        print(f"The industry '{industry}' is halal.")
else:
    print("Failed to fetch company profile.")

The industry 'Specialty Retail' is halal.

In [319]:
income_statement = fetch_income_statement(ticker, api_key)

if income_statement:
    if is_income_halal(income_statement):
        print(f"The income of {ticker} (Apple Inc.) is halal according to AAOIFI criteria.")
    else:
        print(f"The income of {ticker} (Apple Inc.) is not halal according to AAOIFI criteria.")
else:
    print(f"Failed to fetch income statement for {ticker}.")

The income of TSCO (Apple Inc.) is not halal according to AAOIFI criteria.